:concurrency: 5
:queues:
  - default

:scheduler:
  :schedule:
    bot_scheduler:
      cron: "*/1 * * * *"
      class: "BotSchedulerJob"
      queue: default

    nonce_monitor_scheduler:
      cron: "*/5 * * * *"
      class: "NonceMonitorSchedulerJob"
      queue: default

    fetch_copy_trades:
      cron: "15 */1 * * * *"
      class: "FetchCopyTradesJob"
      queue: default

    process_pending_copy_trades:
      cron: "30 */1 * * * *"
      class: "ProcessPendingCopyTradesJob"
      queue: default

    update_dashboard_metrics:
      cron: "*/5 * * * *"
      class: "UpdateDashboardMetricsJob"
      queue: default